<!-- JS -->
<script src="{{ site.url }}/assets/js/main.min.js" integrity="sha512-5b1wJHE0ryGUHN1IbRFtCw+BdW0My4PMFWxZucMMhFwWD3TUlHAqIGsaYL55LPuVqL7eeZ7Mzf2JD78ekHiFHw==" crossorigin="anonymous"></script>
<script src="{{ site.url }}/assets/js/katex.min.js" integrity="sha512-EpsVrsZsSC7kuXAnUBOWdA9HEzG0bKKzG4nkRLvPEY8EyDenXnryy0HltE/n0hstYPQezQyP34Z+e6uj14hAcA==" crossorigin="anonymous"></script>
<script src="{{ site.url }}/assets/js/section.min.js" integrity="sha512-sNyprf4vVWyIDH3BhazgstlgPFw4JiKPLNNreJf7CHqHFXot9550dPphLFfqUSCDdF66jYXPx5ho3dcnFyst0w==" crossorigin="anonymous"></script>
{% if page.layout == 'slide' %}
<script src="{{ site.url }}/assets/js/reveal/head.min.js" integrity="sha512-8Nk/zoTKjNixnM15wXjpF26KR4Ln87cc5Yllc5xP54wwbcKnljAAn2JP+tYAS8+4e7s/XK8XTiDH0Ltw2fmoBQ==" crossorigin="anonymous"></script>
<script src="{{ site.url }}/assets/js/reveal/reveal.js" integrity="sha512-QvgVOB9CfRCK+AkiYND4pEz9/MQBwtaqrZIPV1jjr8RTcqQ40eqduBhnO5iOzD2t1c+ATwsjHg1g3L+BbEjlYQ==" crossorigin="anonymous"></script>
<script src="{{ site.url }}/assets/js/reveal/present.js" integrity="sha512-GX1h/RQ8O9AAfBuF0AWyvNfhWob6r/qVZNH1+m4KPPFu/3PBkD/GBKIRCKWYCIMSc/oTJMx1Zf8z94QYrvgVxA==" crossorigin="anonymous"></script>
{% endif %}