#font30 {
	font-size: 30px;
}

#form1, #email, #type, #generation, #result, #passphrase, #calpass {
	margin-bottom: 10px; 
	height: 45px; 
	width: 300px;
}

#form2 {
	margin-bottom: 10px; 
	height: 120px; 
	width: 300px;
}

#posts.inner-post-page .block-left {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://tanto259.name/assets/images/post.jpg) no-repeat;
	background-size: cover;
} 

#posts .block-left {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://tanto259.name/assets/images/postlist.jpg) no-repeat;
	background-size: cover, cover;
} 

.main-left {
	background: linear-gradient(rgba(44,45,51,0.9), rgba(44,45,51,0.9)), url(https://tanto259.name/assets/images/home.jpg) no-repeat;
	background-size: cover;
}

#blank {
	display: none;
}